body {
  background-color: black;
}

.container{
  background-image: url(./assets/img/world.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  color: white;
  transition: transform 6000ms linear;
}

.container h1 {
  margin: 20px;
  transition: transform 6000ms linear;
}

.container h5 {
  margin: 20px;
}

.container a {
  margin: 20px;
}
